*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 60%;
    height: auto;
    border-radius: 24px;
    box-shadow:4px 4px 16px #bdbdbd;
}
.container-titr{
    padding: 28px 38px 18px 38px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
}
.container-cards{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.card{
   display: flex;
   align-items: center; 
   width: 44%;
   height: 148px;
   border:1px solid #bdbdbd;
   border-radius: 24px;
   margin: 8px ;
}
.card__album{
    width: 30%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    margin: 20px;
}
.card__album-image{
    width: 50%;
    height: 50%;
    padding: 1px;
}
.card__meta{
    padding-left: 8px;
}
.card__meta-txt{
    font-size: 1.6rem;
    padding-bottom: 4px;
}
.card__meta-number{
    font-size: 1.3rem;
    padding-top: 4px;
}
@media screen and (max-width: 900px) {
    .container{
        width: 80%;
    }
}
@media screen and (max-width: 600px) {
    .container{
        width: 90%;
        margin-top: 220px;
    }
    .container-cards{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .card{
        display: flex;
        align-items: center; 
        width: 80%;
        height: 148px;
        border:1px solid #bdbdbd;
        border-radius: 24px;
        margin: 8px ;
    }
    .card__album{
        width: 40%;
    }
    .card__meta-txt{
        font-size: 1.2rem;
        padding-bottom: 4px;
    }
    .card__meta-number{
        font-size: 1.1rem;
        padding-top: 4px;
    }
}

